<div class="container">
  <footer class="footer">
    <div class="col-sm-6 col-sm-offset-4">
    <small>Copyright &copy; <a href="hppts://facebook.com/Aa.P.K.C">Avishkar Pratap KC</a> by TORUS &copy; </small>
    </div>
    <nav>
      <ul>
        <li> <%= link_to 'About', about_path %> </li>
        <li> <%= link_to 'Articles', articles_path %> </li>
      </ul>
    </nav>
  </footer>
</div>